<table ...attributes>
  <thead>
    <tr>
      <th>Status</th>
      <th>Progress</th>
      <th>User</th>
      <th>Request Date</th>
    </tr>
  </thead>
  <tbody>
    {{#each (reverse (sort-by "endDate:desc"  "isInactive"  "remaining:asc"  @transfers)) as |transfer index|}}
      <tr data-test="transfers-table__row-{{index}}">
        <td aria-describedby="nice-description-{{transfer.id}}">
          <StatusDetail @transfer={{transfer}} />
        </td>
        <td>{{byte-notation transfer.processed}}/{{byte-notation transfer.total}}</td>
        <td><a href="mailto:{{transfer.email}}">{{transfer.displayName}}</a></td>
        <td>{{format-date transfer.requestDate "MM/dd/yyyy hh:mm a"}}</td>
      </tr>
      <tr aria-hidden="true" id="nice-description-{{transfer.id}}">
        <td colspan="4" {{highlight-text "fail" "success" "error"}}>
          <span class="nice-description-text">
            {{transfer.status}}
          </span>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>