<h2 id="transfers-heading">Transfers Report</h2>

<main>
  <div class="table-wrapper">
    <table aria-labelledby="transfers-heading">
      <thead>
        <tr>
          <th>Status</th>
          <th>Progress</th>
          <th>User</th>
          <th>Request Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each @model.transfers as |transfer|}}
          <tr>
            <td aria-describedby="nice-description-{{transfer.id}}">{{transfer.statusType}}</td>
            <td>{{transfer.processed}}b / {{transfer.total}}b</td>
            <td><a href="mailto:{{transfer.email}}">{{transfer.displayName}}</a></td>
            <td>{{moment-format transfer.requestDate "MM/DD/YYYY hh:mm A"}}</td>
          </tr>
          <tr aria-hidden="true" id="nice-description-{{transfer.id}}">
            <td colspan="4">
              {{transfer.status}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</main>