<div class="transfers-header">
  <h2 id="transfers-heading">Transfers Report</h2>
  {{#if this.isUsingProxy}}
    <select aria-label="test option" {{on "change" this.changeTest}}>
      {{!-- A simple select to support changing between test cases --}}
      {{#each (array "1" "2" "3" "4") as |testNumber|}}
        <option selected={{eq this.testNumber testNumber}} value={{testNumber}}>Test {{testNumber}}</option>
      {{/each}}
    </select>
  {{/if}}
</div>

<main>
  <div class="table-wrapper">
    {{#if @model.loadTransfers.last.isError}}
      <div>
        Something went wrong, failed to load data.
      </div>
    {{else if @model.loadTransfers.lastSuccessful.value}}
      <TransfersTable @transfers={{@model.loadTransfers.lastSuccessful.value}} aria-labelledby="transfers-heading" />
    {{else if @model.loadTransfers.isRunning}}
      <div>
        loading...
      </div>
    {{/if}}
  </div>
</main>